<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}TP Plateforme{% endblock %}</title>

  {% block stylesheets %}
    {# On charge le CSS de bootstrap depuis le site directement #}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  {% endblock %}
</head>

<body>
  <div class="container">
    <div id="header" class="jumbotron">
      <h1>Hugo BATT</h1>
      <p>
        Ce projet est réalisé grâce à Symfony 3
      </p>
    </div>
      
    <div class="row">
       <div class="navbar navbar-default">
        <ul class="nav navbar-nav"> <!-- Chercher a faire des boutons séparés de différentes couleurs -->
            <li><a href="{{ path('tp_core_homepage') }}">A propos</a></li>
            <li><a href="{{ path('tp_display_projects') }}">Mes projets</a></li>
            <li><a href="{{ path('tp_display_jobs')}}">Mes expériences</a></li>
            <li><a href="{{ path('tp_core_contact') }}">Me contacter</a></li>
        </ul>
    </div>  
        <div id="content" class="col-md-9">
          
          
            {% block body %}
            {% endblock %}
      
        
        </div>
    </div>

    <hr>

    <footer>
      <p>ThePyjaman© {{ 'now'|date('Y') }}</p>
    </footer>
  </div>

  {% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  {% endblock %}

</body>
</html>